# Ignore local class materials
class_materials/
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore environment files
.env

.vscode/
.DS_Store

#ignore Zed Jupyter Notebook scripts/py
convert_notebooks_to_percent.sh
sync_jupytext_pairs.sh
nbpair
nbsync
api_scrape_data.py
data_storage.py
python_fundamentals_summary.py
stage05_data-storage_homework-starter.py
stage06_data-preprocessing_homework-starter.py

fraud_kaggle_creditcard_source-kaggle_dataset-creditcardfraud_20250820-192958.csv
util_20250820-213510.parquet
util_20250820-213510.csv
fraud_kaggle_creditcard_source-kaggle_dataset-creditcardfraud_20250820-213245.parquet
