# Ignore local class materials
class_materials/
# Ignore Python cache files
__pycache__/
*.pyc
# Ignore environment files
.env

.vscode/
.DS_Store

#ignore Zed Jupyter Notebook scripts/py
convert_notebooks_to_percent.sh
sync_jupytext_pairs.sh
nbpair
nbsync
api_scrape_data.py
data_storage.py
python_fundamentals_summary.py
